@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background: #f0f0f0;
  font-family: 'Crimson Text', serif;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
}
